<h3>Here are a list of the assignments!</h3>

<% assignments = Assignment.all %>
<% assignments.each do |assignment| %>
  <div class="row">
    <div class = "col-md-3">
      <%= link_to assignment.name, assignment_url(assignment) %>
    </div>
    <div class = "col-md-3">
      <% teacher = @teachers.find_by(id: assignment.teacher_id) %>
      <%= teacher.name %>
    </div>
    <div class = "col-md-2">
      <%= assignment.num_assignments %>
    </div>
    <div class = "col-md-2">
      <%= assignment.due_date %>
    </div>
    <div class = "col-md-2">
      <%= assignment.estimate_time %>
    </div>
  </div>
  
<% end %>

<div class="row">
  <p><%= link_to "New Assignment", new_assignment_path, class: 'btn btn-sm btn-success' %></p>
  <p><%= link_to "Back to My Assignments", assistant_url(@user), class: 'btn btn-sm btn-success' %> </p>
</div>