<% if @assignment.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <% @assignment.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>


<%= form_for @assignment do |form| %>
  <div class="form-group">
    <p>
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </p>

    <p>
      <%= form.label "Number of Assignments" %>
      <%= form.text_field :num_assignments, class: "form-control" %>
    </p>

    <p>
      <%= form.label "Due Date (MM/DD/YY)" %>
      <%= form.text_field :due_date, class: "form-control" %>
    </p>

    <p>
      <%= form.label "Estimated Time to Complete (hours)" %>
      <%= form.text_field :estimate_time, class: "form-control" %>
    </p>

    <p>
      <%= form.label "Link to Student Work" %>
      <%= form.text_field :link, class: "form-control" %>
    </p>

    <p>
      <%= form.label "Grading Instructions" %>
      <%= form.text_area :instructions, class: "form-control" %>
    </p>

  </div>
  <%= form.button 'Create Assignment!', class: "btn btn-success" %>
<% end %>