
<h3>Assignment Name: <%=@assignment.name%></h3>

<% teacher = @teachers.find_by(id: @assignment.teacher_id) %>

<p>Teacher: <%=teacher.name%></p>

<p>Number of Assignments: <%=@assignment.num_assignments%></p>

<p>Due Date (MM/DD/YY): <%=@assignment.due_date%></p>

<p>Estimated time to complete (hours): <%=@assignment.estimate_time%></p>

<p>Link to student work (e.g. Google Drive shared folder): <%=@assignment.link%></p>

<p>Assigned TA: <%=@assistant%></p>

<p>Assignment Status: <%=@assignment.status%></p>