<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= @assistant.name %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<%= link_to "Find Assignments", assignments_url, class: 'btn btn-sm btn-success' %>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<%= link_to edit_assistant_path do %>
								<i class="glyphicon glyphicon-user"></i> Edit Profile
							<% end %>
						</li>
						<li>
							<%= link_to logout_url do %>
								<i class="glyphicon glyphicon-off"></i> Logout
							<% end %>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
      <div class="profile-content">
			  <div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">Here are a list of your IN PROGRESS assignments.</div>
					<!-- Table -->
					<table class="table">
					  <tr>
					    <th>Name</th>
					    <th># Assignments</th> 
					    <th>Est Time</th>
					    <th>Due Date</th>
					    <th>Teacher</th>
					    <th>Status</th>
					  </tr>
					  <% assignments = Assignment.where(assistant_id: @assistant.id, status: "In Progress") %>
					  <% assignments.each do |assignment| %>
						<tr>
							<td><%= link_to assignment.name, assignment_url(assignment) %></td>
						  <td><%= assignment.num_assignments %></td>
						  <td><%= assignment.estimate_time %></td>
						  <td><%= assignment.due_date %></td>
				      <% teacher = Teacher.find_by(id: assignment.teacher_id).name %>
						  <td><%= teacher %></td>
						  <td><%= assignment.status %></td>
						  <td><%= link_to "Mark Complete", edit_assignment_url(assignment), class: 'btn btn-xs btn-primary' %></td>
			      </tr>
						<% end %>
					</table>
				</div>

				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">Here are a list of your COMPLETED assignments.</div>
					<!-- Table -->
					<table class="table">
					  <tr>
					    <th>Name</th>
					    <th># Assignments</th> 
					    <th>Est Time</th>
					    <th>Due Date</th>
					    <th>Teacher</th>
					    <th>Status</th>
					  </tr>
					  <% assignments = Assignment.where(assistant_id: @assistant.id, status: "Complete") %>
					  <% assignments.each do |assignment| %>
						<tr>
							<td><%= link_to assignment.name, assignment_url(assignment) %></td>
						  <td><%= assignment.num_assignments %></td>
						  <td><%= assignment.estimate_time %></td>
						  <td><%= assignment.due_date %></td>
				      <% teacher = Teacher.find_by(id: assignment.teacher_id).name %>
						  <td><%= teacher %></td>
						  <td><%= assignment.status %></td>
			      </tr>
						<% end %>
					</table>
				</div>

      </div>
		</div>
	</div>
</div>