
<%= form_for @teacher do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>

    <%= form.label :school %>
    <%= form.text_field :school, class: "form-control" %>

    <%= form.label :subject %>
    <%= form.text_field :subject, class: "form-control" %>

    <%= form.label :grade %>
    <%= form.text_field :grade, class: "form-control" %>

  </div>
  <%= form.button 'Update Teacher', class: "btn btn-success" %>
<% end %>